<div class="ext_cssinject modal">
    <div class="modal-header">
        <h1 class="dialog-title">Custom CSS Injection</h1>
    </div>
    <div class="modal-body">
        <div class="sets" data-bind="foreach: sets">
            <div class="set">
                <div class="set-icon" data-bind="style:{background: $parent.iconType($data)}"></div>
                <div class="set-wrapper">
                    <div class="set-name" data-bind="editableText: name" contenteditable="true"></div>
                    <div class="set-type">
                        <span data-bind="text: type"></span>
                        <span> (</span>
                        <span data-bind="text: id"></span>
                        <span> )</span>
                    </div>
                    <div class="set-timestamp" data-bind="text: timestamp"></div>
                </div>
                <div class="set-buttons">
                    <button class="btn" data-bind="click: $parent.openDocument">Edit</button>
                    <button class="btn" data-bind="click: $parent.remove">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary" data-bind="click: close">Close</button>
        <a class="dialog-button btn" data-bind="click: addNewSet">Create a local CSS</a>
    </div>
</div>
