<div class="ext_cssinject modal">
    <div class="modal-header">
        <h1 class="dialog-title">Custom CSS Injection</h1>
    </div>
    <div class="modal-body">
        <div class="sets" data-bind="foreach: sets">
            <div class="set">
                <div class="set-icon" data-bind="style:{background: $parent.iconType($data)}"></div>
                <div class="set-wrapper">
                    <div class="set-name" data-bind="editableText: name" contenteditable="true"></div>
                    <div class="set-type">
                        <span data-bind="text: type"></span>
                        <span> (</span>
                        <span data-bind="text: id"></span>
                        <span> )</span>
                    </div>
                    <div class="set-timestamp">
                        <span class="set-enabled" data-bind="visible: active">
                            <i class="fa fa-check"></i> Enabled
                        </span>
                        <span class="set-disabled" data-bind="visible: !active()">
                            <i class="fa fa-times"></i> Disabled
                        </span>
                        <span>-</span>
                        <span data-bind="text: timestamp"></span>
                    </div>
                </div>
                <div class="set-buttons">
                    <button class="btn" title="Edit CSS" data-bind="click: $parent.openDocument">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn" data-bind="click: $parent.toggleActive">
                        <span data-bind="visible: active"><i class="fa fa-times"></i></span>
                        <span data-bind="visible: !active()"><i class="fa fa-check"></i></span>
                    </button>
                    <button class="btn" title="Remove CSS" data-bind="click: $parent.remove">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary" data-bind="click: close">Close</button>
        <a class="dialog-button btn" data-bind="click: addNewSet">Create a local CSS</a>
        <div>
            <div>
                <a href="https://github.com/dnbard/brackets-custom-css/wiki" id="visit-wiki">Visit Brackets CSS Inject Wiki</a>
            </div>
        </div>
    </div>
</div>
